body {
  background-color: #121212;
}
.titleRestaurant {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  font-family: "Arial", sans-serif;
}
.mapContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
